{% extends 'base.html' %}
<!-- Extending from base.html -->

{% block PAGE_CONTENT %}
<div>
  {% for adata in aboutdata %}
  <div
    class="bg-image vh-100 d-flex justify-content-center align-items-center"
    style="background-image: url('{{ adata.about_head_image.url }}')"
  >
    <div
      class="
        text-center
        d-inline-block
        border border-dark
        rounded-3
        p-5
        mx-2 mx-sm-0
        shadow
      "
      style="
        backdrop-filter: blur(4px);
        background-color: rgba(38, 38, 38, 0.4);
      "
    >
      <h1 class="text-white">{{ adata.about_head_text }}</h1>
      <p class="text-white">{{ adata.about_head_sub_text }}</p>
    </div>
  </div>
  <div class="container mt-3">
    <div>{{ adata.about_page_desc|safe }}</div>
  </div>
  {% endfor %}
</div>
{% endblock PAGE_CONTENT %}
