<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Site Title</title>

    <!-- Head Data -->
    {% include 'includes/head.html' %}
    <!-- Head Data -->
  </head>

  <body>
    <!-- Navbar -->
    {% include 'includes/navbar.html' %}
    <!-- Navbar -->

    <!-- Main Content -->
    {% block PAGE_CONTENT %} {% endblock PAGE_CONTENT %}

    <!-- footer -->
    {% include 'includes/footer.html' %}
    <!-- Scripts -->
    {% include 'includes/scripts.html' %}
    <!-- Scripts -->
  </body>
</html>
